@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
	*{
		font-family: 'Noto Sans KR', sans-serif;
		font-size: 18px;
	}
	table{
		border-collapse: collapse;
		width: 100%;
	}
	th{
		text-align: center;
	}
	thead th{
		background: #FCFCFE;
	}
	td, th{
		border: 1px solid #EAEAEA;
		padding: 5px 15px;
		height: 30px;
	}
	tfoot td{
		border: none;
		text-align: center;
	}
	#pagingArea{
		margin-top: 30px;
	}
	#title{
		margin: 10px;
		font-size: 20px;
		font-weight: bold;
	}
	tbody tr td:first-child, tr th:first-child {
		text-align: center;
	}
	thead td{
		border: none;
	}
	thead td:last-child{
		text-align: right;
	}
	tbody tr{
		cursor: pointer;
		color: #4472C4;
	}
	tbody tr:hover{
		color: #4472C4;
		text-decoration: underline;
	}
	#bottom{
		width: 97%;
		position: fixed;
		bottom: 10px;
		z-index: 1;
	}
	.use{
		width: 150px;
		background: #EAEAEA;
	}
	.saveBtn {
	    display: inline-block;
	    text-decoration: none;
	    color: white;
	    padding: 1px 12px;
	    background: #3A4CA8;
	    border-radius: 3px;
	}
	input::placeholder{
		color: #D9D9D9;
	}
	textarea::placeholder{
		color: #D9D9D9;
	}